body {
    background: bisque;
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
}

.slidecontainer {
    width: 99%;
    margin-left: 5px;
    padding: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: 1px solid black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-moz-range-thumb {
    background: blue;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

#ui{
    text-align: center;
    margin-left: -20px;
    position:relative;
    bottom:10px;
}

#chart{
    background-color: white;
    z-index: 1;
}

#map {
    height: 100vh; /* Example: set height to 100% of viewport height */
    width: 100%;
    /* Or a fixed height: */
    /* height: 500px; */
}
.leaflet-popup-content {
    width: 600px !important; /* Sets a fixed width */
    max-width: 600px; /* Sets a maximum width */
    min-width: 150px; /* Sets a minimum width */
}

#legend{
    height: 40px;
    width: 600px;
    display: block;
    margin:auto;
}

#description{
    position:absolute;
    left:10px;
    bottom:0;
    width:30%;

}
