body {
    background: bisque;
}
html, body {
    margin: 0;
    padding: 0;
}

.slidecontainer {
    width: 99%;
    margin-left: 5px;
    padding: 0;
}

.slider {

    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: 1px solid black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}